<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net452" requireReinstallation="True" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" requireReinstallation="True" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" requireReinstallation="True" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net452" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Owin" version="1.0" targetFramework="net452" requireReinstallation="True" />
</packages>